Options +FollowSymLinks -MultiViews
RewriteEngine on

#Rules

RewriteRule ^adress$ app/AddressController.php
RewriteRule ^auth$ app/AuthController.php
RewriteRule ^brand$ app/BrandsController.php
RewriteRule ^categorie$ app/CategoriesController.php
RewriteRule ^client$ app/ClientsController.php
RewriteRule ^coupons$ app/CouponsController.php
RewriteRule ^order$ app/OrdersController.php
RewriteRule ^presentation$ app/PresentationsController.php
RewriteRule ^tag$ app/TagsController.php
RewriteRule ^user$ app/UsersController.php